<li>
  <span class="content"><%= holidays.start_date %></span>
  <span class="content"><%= holidays.end_date %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(holidays.created_at) %> ago.
  </span>
</li>